{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Unless You</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'primera_vista' %}">Unless you</a>	
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" >Bienvenid@ {{ user.username }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'primera_vista' %}">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'posts:alta_post' %}">Crear Post</a></li>
                        {% else %}
                             <li class="nav-item"><a class="nav-link" href="{% url 'primera_vista' %}">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrate</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">UNLESS YOU</h1>
                    <h2>17 Objetivos de desarrollo sostenible</h2>
                    <p class="lead mb-0">A menos de que vos empieces un cambio..</p>
                    <img src="{% static 'img/Logo.png' %}">
                </div>
            </div>
            
       </header>

    {% block contenido %}

    {% endblock contenido %}

        
    <div class="container">
        <div class="row" style="flex-wrap: wrap-reverse;">
            {% for a in posts %} 
            <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-7 ">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="{{a.imagen.url}}" alt="..." /></a>
                                <div class="card-body">
                                    <div class="large text-muted">{{a.fecha_post}}</div>
                                    <div class="small text-muted">Objetivo:{{a.Ods}}</div>
                                    <h2 class="card-title h4">{{a.nombre}}</h2>
                                   
                                    <a class="btn btn-primary" href="{% url 'posts:detalle' a.pk %}">Leer más... →</a>
                                </div>                                  
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            
            <!-- Side widgets-->
            <div class="col-lg-4 ">
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Los 17 objetivos!</div>
                    <div class="card-body">
                        <div class=".row">
                            <div class=".col-lg-8">
                                <ul class="list-unstyled mb-0">
                                    {% for o in Ods %}
                                        <li><a href="{% url 'posts:filtro' o.pk%}" style="text-decoration: none;"> {{o.nombre}}</li>
                                    {% endfor %} 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class= "m-2 text-center text-white"> Copyright- todos los derechos reservados - Argentina - Chaco </p>
        </div>
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-md-12 text-center justify-content-center">
                    <div class="enlaceRedes">
                        <a href="https://facebook.com"> <img class="facebook" width="25" height="25" margin-right:5rem; #facebook:hover src="{% static 'img/facebook.png' %}"></a>
                        <a href="https://twitter.com"> <img class="twitter" width="25" height="25" margin-right:5rem; src="{% static 'img/twiter.png' %}">
                        </a>
                        <a href="https://instagram.com"> <img class="instagram" width="25" height="25" margin-right:5rem; src="{% static 'img/instagram.png' %}"></a>
                        <a href="https://youtube.com"> <img class="youtube" width="25" height="25" margin-right:5rem; #facebook:hover src="{% static 'img/youtube.png' %}"></a>
                    </div> 
                </div>
            </div>
        </div>
        
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>




</body>
</html>